.demo-2 {
  height: 100%;
  position: static;
  width: 100%;
  z-index: 1;
}

.demo-2__gallery {
  height: 100%;
  position: relative;
  width: 520rem;
  visibility: hidden;
}

.demo-2__gallery__figure {
  position: absolute;

  &:nth-child(1) {
    left: 0;
    top: 0;
  }

  &:nth-child(2) {
    left: 73rem;
  }

  &:nth-child(3) {
    left: 140rem;
  }

  &:nth-child(4) {
    left: 220rem;
  }

  &:nth-child(5) {
    left: 290rem;
  }

  &:nth-child(6) {
    left: 360rem;
  }

  &:nth-child(7) {
    left: 430rem;
  }
}

.demo-2__gallery__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
